/* ==================== MOBILE ==================== */
@media screen and (min-width: 320px){
    .container{
      max-width: 375px;
    }
}
  
/* ==================== TAB ====================*/
@media screen and (min-width: 768px){
    .container{
      max-width: 767px;
    }
}
  
/* ==================== DESTOP ==================== */
@media screen and (min-width: 1440px){
    .container{
      max-width: 1440px;
    }
}